# Python / Django (backend)
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/__pycache__/
backend/db.sqlite3
backend/*.log
backend/*.pot
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.db
backend/*.db-journal
backend/.env
backend/.venv/
backend/venv/
backend/env/
backend/ENV/
backend/build/
backend/dist/
backend/.eggs/
backend/*.egg-info/
backend/instance/
backend/.webassets-cache

# Django migrations
backend*/migrations/*

# Node.js / React (frontend)
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/package-lock.json
frontend/yarn.lock
frontend/build/
frontend/dist/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System Files
.DS_Store
Thumbs.db